<template>
    <section class="charts">
        <vue-highcharts :options="options"></vue-highcharts>
    </section>
</template>
<script>
    import VueHighcharts from "vue2-highcharts";

    const data = {
        chart: {
            type: "column",
            height: 300,
            width: 250,
            borderWidth: 0
        },
        title: {
            text: ''
        },
        subtitle: {
            text: ''
        },
        xAxis: {
            categories: ["Armazenado", "Ocupado", "Livre"],
            width: 100,
            title: {
                text: null
            },
            labels: {
                enabled: false
            },
            lineWidth: 0,
            tickWidth: 0
        },
        yAxis: {
            min: 0,
            title: {
                text: "",
                align: "high"
            },
            labels: {
                enabled: false
            },
            gridLineWidth: 0,
            tickColor:"#ff0020"
        },
        tooltip: {
            valueSuffix: " TB"
        },
        plotOptions: {
            column: {
                stacking: 'normal',
                dataLabels: {
                    enabled: false
                }
            }
        },
        legend: {
            layout: "vertical",
            align: "right",
            margin: 0,
            verticalAlign: "bottom",
            x: 20,
            y: 0,
            width: 150,
            borderWidth: 0,
            itemMarginBottom: 60
        },
        credits: {
            enabled: false
        },
        series: [
            {
                name: '500 TB',
                color: '#1E88E5',
                data: [500]
            },
            {
                name: '150 TB',
                color: '#90CAF9',
                data: [150]
            },
            {
                name: '100 TB',
                color: '#0D47A1',
                data: [100]
            }

        ]
    };
    export default {
        components: {
            VueHighcharts
        },
        data() {
            return {
                options: data
            };
        }
    };
</script>

<style>
    .charts {
        display: inline-block;
    }
    .highcharts-credits {
        display: none !important;
    }
</style>