<template>
    <div class="charts">
        <vue-highcharts :options="pieOptions"></vue-highcharts>
    </div>
</template>
<script>
    import VueHighcharts from "vue2-highcharts";

    export default {
        name: 'PieChart',
        components: {
            VueHighcharts
        },
        data() {
            return {
                pieOptions: {
                    chart: {
                        type: "pie",
                        options3d: {
                            enabled: true,
                            alpha: 45
                        },
                        height: 250,
                        width: 250,
                        borderWidth: 0
                    },
                    title: {
                        text: ''
                    },
                    subtitle: {
                        text: ''
                    },
                    plotOptions: {
                        pie: {
                            allowPointSelect: true,
                            cursor: 'pointer',
                            innerSize: 100,
                            depth: 45
                        }
                    },
                    series: [
                        {
                            name: "Total",
                            data: [
                                ["Dados", 8],
                                ["Sistema", 3],
                                ["Banco de Dados", 1]
                            ],
                            dataLabels: [{
                              enabled: false
                            }]
                        }
                    ]
                }
            };
        },
        mounted() {},
        methods: {}
    };
</script>

<style>
    .charts {
        display: inline-block;
    }
</style>