<template>
  <div id="app">
      <PieChart></PieChart>
      <BarChart></BarChart>
  </div>
</template>

<script>
  import PieChart from "./components/PieChart";
  import BarChart from "./components/BarChart";
export default {
  name: 'app',
  components: {
    PieChart,
    BarChart
  }
}
</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /*text-align: center;*/
  color: #2c3e50;
  margin-top: 60px;
}
</style>
